@{
    ViewData["Title"] = "Log in";
}
@model Chushka.Models.ViewModels.LoginModel

<h1 class="text-center">Login</h1>
<hr class="bg-secondary half-width" />

<partial name="FormErrors" model="Model" />

<form class="mx-auto half-width" asp-controller="Users" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control"  placeholder="Username..." >
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password..." >
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Login</button>
    </div>
</form>